
# URL de conexão com MongoDB (URI)
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/?retryWrites=true&w=majority

# Nome do banco de dados a usar
MONGO_DB_NAME=Oncinha

# Nome da coleção onde as frases estão salvas
MONGO_COLLECTION_NAME=ofertas_ia

# Porta onde o servidor Express irá rodar
PORT=3001
